<GridLayout class="page">
    <!-- temp -->
    <StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton>
        <Label class="text-center" text="Login, news, blablabla"></Label>
        <!-- <Button class="btn btn-primary" text="Home" [nsRouterLink]="['/home']"></Button> -->
        <Button class="btn btn-primary btn-rounded-lg" text="login" (tap)="onTapRouteChange($event)" [nsRouterLink]="['/tracker']"></Button>
        <Button class="btn btn-primary btn-active" id="button" text="paimti duomenis" (tap)="onTapData()"></Button>
        <ListView [items]="tempData" class="list-group">
            <ng-template let-country="item">
                <StackLayout orientation="horizontal" class="list-group-item">
                    <Label [text]="country"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</GridLayout>