<!-- <ActionBar class="action-bar">
    <Label class="action-bar-title" text="Tracker"></Label>
</ActionBar> -->
<!-- <TabView androidTabsPosition="bottom" selectedIndex="0" (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <page-router-outlet *tabItem="{title: 'bluetooth'}" name="bluetooth" ></page-router-outlet>
    <page-router-outlet *tabItem="{title: 'settings'}" name="settings"></page-router-outlet>
</TabView> -->
<TabView androidTabsPosition="bottom" class="icon">
    <StackLayout *tabItem="{title: 'goals'}">
        <ns-goals></ns-goals>
    </StackLayout>
    <!-- <StackLayout  *tabItem="{title: 'workout'}">
        <ns-workout></ns-workout>
    </StackLayout> -->
    <StackLayout *tabItem="{title: 'sportsware'}">
        <ns-sportsware></ns-sportsware>
    </StackLayout>
    <StackLayout  *tabItem="{title: 'settings'}">
        <ns-user-settings></ns-user-settings>
    </StackLayout>
</TabView>

<!-- <page-router-outlet></page-router-outlet> -->