<GridLayout backgroundColor="#343a40">
    <ScrollView>
        <StackLayout [formGroup]="form" margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <StackLayout class="input-field">
                    <Label text="Slapyvardis" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [formControl]="form.controls['username']"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Slaptažodis" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [formControl]="form.controls['password']"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Login" (tap)="onSubmit()"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
