<TabView [(ngModel)]="tabIndex" androidTabsPosition="bottom" id="tabViewContainer" (selectedIndexChanged)="tabIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Treniruotės'}">
        <StackLayout>
            <ns-workout-list></ns-workout-list>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Sesija'}" isEnabled="false">
        <ns-workout-session [workoutId]="workoutId"></ns-workout-session>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Atsijungti'}">
    </StackLayout>
</TabView>