<ng-container *ngIf="workoutService.isSessionStarted">
    <GridLayout>
        <ScrollView>
            <StackLayout verticalAlignment="center">
                <Label class="text-center" [text]='"Jog matytumėte treniruotes, turite užbaigti sesiją."'></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</ng-container>

<ng-container *ngIf="!workoutService.isSessionStarted">
    <ng-container *ngIf="workouts">
        <ng-container *ngIf="workouts.length>0">
            <Label class="label-color text-center" [text]='"Mano Treniruotės"'></Label>
            <ListView [items]="workouts" (itemTap)="onItemTap($event, false)">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <StackLayout [class.odd]="odd" [class.even]="even">
                        <Label class="workout-label" [text]="i+1 + '. ' + item.name"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>

        </ng-container>
    </ng-container>

    <ng-container *ngIf="groupWorkouts">
        <ng-container *ngIf="groupWorkouts.length>0">
            <Label class="label-color text-center" [text]='"Grupės treniruotės"'></Label>
            <ListView [items]="groupWorkouts" (itemTap)="onItemTap($event, true)">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <StackLayout [class.odd]="odd" [class.even]="even">
                        <Label class="workout-label" [text]="i+1 + '. ' + item.name"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>

        </ng-container>
    </ng-container>


</ng-container>
