<ActionBar title="Treniruotės"></ActionBar>

<TabView [(ngModel)]="tabIndex" androidOffscreenTabLimit="4" androidTabsPosition="bottom" id="tabViewContainer" (selectedIndexChanged)="tabIndexChanged($event)">

    <StackLayout *tabItem="{title: 'Treniruotės'}">
        <ns-workout-list></ns-workout-list>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Sesija'}" isEnabled="false">
        <ns-workout-session [workoutId]="workoutId"></ns-workout-session>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Atsijungti'}">
    </StackLayout>
</TabView>